<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jinkan.www.cpttest">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".CPTApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.NewTestActivity" />
        <!--权限申请页面-->
        <activity android:name=".util.acp.AcpActivity" />
        <activity android:name=".view.SingleBridgeTestActivity" />
        <activity android:name=".view.SetEmailActivity" />
        <activity android:name=".view.LinkBluetoothActivity" />
        <activity android:name=".view.SingleBridgeMultifunctionTestActivity" />
        <activity android:name=".view.DoubleBridgeTestActivity" />
        <activity android:name=".view.DoubleBridgeMultifunctionTestActivity" />
        <activity android:name=".view.CrossTestActivity" />
        <activity android:name=".view.TimeSynchronizationActivity" />
        <activity android:name=".view.SetCalibrationDataActivity" />
        <activity android:name=".view.CalibrationVerificationActivity" />
        <activity android:name=".view.TestingActivity" />
        <activity android:name=".view.HistoryDataActivity" />
        <activity android:name=".view.OrdinaryProbeActivity" />
        <activity android:name=".view.CrossTestDataDetailsActivity" />
        <activity android:name=".view.TestDataDetailsActivity" />
        <activity android:name=".view.MyLinkerActivity" />
        <activity android:name=".view.VideoActivity" />
        <activity android:name=".view.VersionInfoActivity" />
        <activity android:name=".view.MyMsgActivity" />

    </application>

</manifest>